<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="com.myweb.www.repository.BoardDAO">
  
  	<insert id="insert">
  		insert into board (title,writer,content)
  		values (#{title}, #{writer}, #{content})
  	</insert>
  
  	<select id="selectBoardList" resultType="com.myweb.www.domain.BoardVO">
  		select * from board order by bno desc
  	</select>
  	
  	<select id="selectBoardListPaging" resultType="com.myweb.www.domain.BoardVO">
  		select * from board
  		<include refid="search"></include>
  		order by bno desc limit #{startPage},#{qty}
  	</select>
  	
  	<select id="selectMaxBno" resultType="long">
  		select Max(bno) from board
  	</select>
  
  
  	<select id="selectTotalCount" resultType="int">
 		select count(bno) from board
  		<include refid="search"></include>
  	</select>
  
  	<select id="selectDetail" resultType="com.myweb.www.domain.BoardVO">
  		select * from board where bno = #{bno}
  	</select>
  	
  	<update id="updateReadCount">
  		update board set read_count = read_count +1 where bno=#{bno} 
  	</update>
  
  	<update id="update">
  		update board set title = #{title}, content = #{content}, mod_at = now() where bno=#{bno}
  	</update>
  	
  	<delete id="delete">
  		delete from board where bno=#{bno}
  	</delete>
  
  	<update id="updateCmtQty">
  		update board b set cmt_qty = (select count(bno) from comment where bno=b.bno) where bno =#{bno}
  	</update>
  	
  	<select id="selectCmtQty" resultType="int">
  		select cmt_qty from board where bno = #{bno}
  	</select>
  	
  <sql id="search">
		<if test="type!=null">
			<trim prefix="where (" suffix=")" prefixOverrides="or">
				<foreach collection="typeToArray" item="type">
					<trim prefix="or">
						<choose>
							<when test="type == 't'.toString()">
								title like concat('%',#{keyword}, '%')
							</when>
							<when test="type == 'w'.toString()">
								writer like concat('%',#{keyword},'%')
							</when>
							<when test="type == 'c'.toString()">
								content like concat('%',#{keyword},'%')
							</when>
						</choose>
					</trim>
				</foreach>
			</trim>
		</if>
	</sql>
  </mapper>